body {
    margin: 90px 30px 10px 40px;
    background-color: black;
}
#background{
    background-color: #1F2937;
    padding: 190px 20px 0px 50px;
    width: 550px;
    height: 400px;
    padding: 120px 50px 70px 50px;
    margin: auto;
}
h1 {
    margin: 0 0 0 18px;
    color: #ffffff;
    font-size: 45px;
}
h2 {
    margin: 0 0 0 20px;
    color: #4ADF86;
    font-size: 40px;
}
p {
    margin: 5px 0 70px 20px;
    color: #D5D4D8;
    font-size: 17px;
}
#password{
    text-align: center;
    padding: 40px 0px 0px 0px;
    border-top: 1px #2F3E53 solid;
    margin-top: 40px;    
}
#txtblnk1{
    width: 221px;
    height: 42px;
    border: none;
    border-radius: 7px;
    margin: 0px 25px 0px 25px;
    background-color: #2F3E53;
    color: #55F991;
}
#txtblnk2{
    width: 221px;
    height: 42px;
    border: none;
    border-radius: 7px;
    margin: 0px 25px 0px 25px;
    background-color: #2F3E53;
    color: #55F991;
}
#btn{
    width: 191px;
    height: 42px;
    background-color: #10B981;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 0 25px;
}